.summary{
    display: flex;
}
.summary ul li{
    justify-content: flex-start;
    display: flex;
    justify-content: space-between;
    width: 13vw;
}
.summary p{
    padding-left: 1rem;
    font-weight: bold;
}