@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.App{
  height: 100vh;
  overflow: hidden;

}
#root{
  background-color: #ffffff;
  opacity: 1;
  background-image:  radial-gradient(#000000 0.8px, transparent 0.8px), radial-gradient(#000000 0.8px, #ffffff 0.8px);
  background-size: 32px 32px;
  background-position: 0 0,16px 16px;
}


.content {
  max-width: 1000px;
  height: auto;
  margin: auto;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.413);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;

}