@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.App{
  height: 100vh;
  overflow: hidden;
}

.content {
  max-width: 600px;
  height: auto;
  margin: auto;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.197);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
